/* invoice.css */

@media print {
    body * {
      visibility: hidden; /* Hide all content by default */
    }
    
    .invoice-container, .invoice-container * {
      visibility: visible; /* Make invoice-container and its content visible */
    }
  
    .invoice-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      /* Ensure that the invoice-container takes up the entire page width */
    }
  
    /* Optional: Adjust margins to ensure content fits well */
    @page {
      size: A4;
      margin: 20mm; /* Adjust margins as needed */
    }
  
    /* Hide the button or any other non-printable content */
    .no-print {
      display: none;
    }
  }

  .logo-container{
    display: flex;
    flex-direction: row;
    /* margin-bottom: -80px; */
    /* background-color: blueviolet; */
    height: 200px;
  }

  .logo{
    display: flex;
    flex-direction: column;
    scale: .5;
    margin-left: -135px;
    margin-top: -50px;
  }

  .tag{
    scale: .15;
    margin-left: -415px;
    margin-top: -130px;
  }
  .app-address{
    padding-top: 10px;
    color: black;
    font-size: 30px;
    /* background-color: blueviolet; */
  }

  .app-gst-dl{
    margin-top: 10px;
    /* color: black; */
    /* font-size: 95px; */
    /* font-weight:bold; */
  }

  .comp-gst{
    margin-top: 50px;
    font-size: 80px;
    color: black;
    font-weight:bolder;

  }

  